<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Consultation
        </h1>
        
        <% if(typeof errors != 'undefined'){ %>
          <% errors.forEach(error=>{ %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= error.msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        
        <%  })%> 
        
        <%  } %>   
        <p class="lead mb-3">Nom du patient: <%= nom %></p>
        <p class="lead mb-3">Prenom du patient: <%= prenom %></p>
        <p class="lead mb-3">Adresse du patient: <%= adresse %></p>

        <form action="/pat/consultation/<%= tel %>" method="POST">
            <div class="form-group">
                <label for="CompteRendu">Compte Rendu</label>
                <textarea class="form-control" id="CompteRendu" name="CompteRendu" rows="7" required></textarea>
              </div>
            <div id="addInput"></div>
            <input type="button" value="Ajouter les medicament" onClick="add();" />
          <button type="submit" class="btn btn-primary btn-block">
            Enregister
          </button>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function add()
        {
        var input = addInput.innerHTML
        addInput.innerHTML = input + '<label>Nom du medicament:</label><br><input type="text" name="NomMedicament" /><br />\n<label>Quantite:</label><br><input type="text" name="quantite" /><br />\n<label>Durée:</label><br><input type="text" name="duree" /><br />\n';
        }
    </script>